---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign entries = site[page.collection] | where_exp: "item", "item.hidden != true" %}
{% if page.sort_by %}
  {% assign entries = entries | sort: page.sort_by %}
{% endif %}
{% if page.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=entries type=entries_layout %}
</div>
